In [2]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\prachir\anaconda3\lib\site-packages (5.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip show pyodbc

Name: pyodbc
Version: 5.0.1
Summary: DB API module for ODBC
Home-page: https://github.com/mkleehammer/pyodbc
Author:
Author-email: Michael Kleehammer <michael@kleehammer.com>
License: MIT License
Location: C:\Users\Prachir\anaconda3\Lib\site-packages
Requires:
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pyodbc

In [10]:
try:
    
    conn = pyodbc.connect(
        'DRIVER={SQL Server};'
        'SERVER=Prachir\\SQLEXPRESS;'
        'DATABASE=Literacy;'
        'Trusted_Connection=yes;')
    print("connection succesfull")
except Exception as e:
    print(f'connection failed :{e}')

connection succesfull

In [14]:
import pandas as pd

In [16]:
literacy_df=pd.read_sql("select * from literacy_Data_2011",conn)

C:\Users\Prachir\AppData\Local\Temp\ipykernel_2200\3876449674.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  literacy_df=pd.read_sql("select * from literacy_Data_2011",conn)

In [18]:
literacy_df

    sr_no                    District           State  Literacy
0       1                       Thane     Maharashtra     84.53
1       2  North Twenty Four Parganas     West Bengal     84.06
2       3                   Bangalore       Karnataka     87.67
3       4                        Pune     Maharashtra     86.15
4       5             Mumbai Suburban     Maharashtra     89.91
..    ...                         ...             ...       ...
95     96                   Sitamarhi           Bihar     52.05
96     97                  Rae Bareli   Uttar Pradesh     67.25
97     98                    Prakasam  Andhra Pradesh     63.08
98     99                      Nanded     Maharashtra     75.45
99    100                        Durg    Chhattisgarh     79.06

[100 rows x 4 columns]

In [76]:
literacy_df['State'],literacy_df.max()

sr_no                 100
District    West Godavari
State         West Bengal
Literacy            93.57
dtype: object

In [74]:
population_df=pd.read_sql("select* from population2011",conn)

C:\Users\Prachir\AppData\Local\Temp\ipykernel_2200\4234342957.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  population_df=pd.read_sql("select* from population2011",conn)

In [22]:
population_df

            states   population
0   Andhra Pradesh   84580776.0
1            Bihar  104099456.0
2     Chhattisgarh   25545198.0
3            Delhi   16787940.0
4          Gujarat   60439692.0
5        Karnataka   61095296.0
6           Kerala   33406060.0
7      Maharashtra  112374336.0
8           Orissa   41974216.0
9           Punjab   27743338.0
10       Rajasthan   68548440.0
11      Tamil Nadu   72147032.0
12   Uttar Pradesh  199812336.0
13     West Bengal   91276112.0

In [143]:
##Que 1 Create a dataframe for Gujarat and Maharashtra
gujarat_Maharashtra=literacy_df[literacy_df['State'].isin(['Gujarat','Maharashtra'])]
print(gujarat_Maharashtra)

    sr_no         District        State   Literacy
0       1            Thane  Maharashtra  84.529999
3       4             Pune  Maharashtra  86.150002
4       5  Mumbai Suburban  Maharashtra  89.910004
7       8        Ahmadabad      Gujarat  85.309998
10     11           Nashik  Maharashtra  82.309998
11     12            Surat      Gujarat  85.529999
27     28           Nagpur  Maharashtra  88.389999
32     33       Ahmadnagar  Maharashtra  79.050003
42     43          Solapur  Maharashtra  77.019997
45     46          Jalgaon  Maharashtra  78.199997
47     48         Vadodara      Gujarat  78.919998
64     65         Kolhapur  Maharashtra  81.510002
66     67           Rajkot      Gujarat  80.959999
70     71       Aurangabad  Maharashtra  79.019997
98     99           Nanded  Maharashtra  75.449997

In [75]:
merged_df = gujarat_maharashtra_df.merge(population_df, left_on='State', right_on='states', how='left')

# Select relevant columns (District, State, Literacy, Population)
final_df = merged_df[['District', 'State', 'Literacy', 'population']]

# Display the final DataFrame
print(final_df)

NameError: name 'gujarat_maharashtra_df' is not defined

In [77]:
##q3.
districts_above_60 = literacy_df[literacy_df['Literacy'] > 60].shape[0]
print(f"Number of districts with a literacy percentage above 60%: {districts_above_60}")

Number of districts with a literacy percentage above 60%: 88

In [147]:
##q4. What is the state with highest literacy percentage in the dataset?
max_literacy_by_state = literacy_df.groupby('State')['Literacy'].max().reset_index()


highest_literacy_state = max_literacy_by_state.loc[max_literacy_by_state['Literacy'].idxmax()]


print(f"State with highest literacy percentage is in {highest_literacy_state['State']} with a literacy of {highest_literacy_state['Literacy']}%")

State with highest literacy percentage is in Kerala with a literacy of 93.56999969482422%

In [84]:

max_literacy_by_state = literacy_df.groupby('State')['Literacy'].max().reset_index()

In [86]:
max_literacy_by_state

             State  Literacy
0   Andhra Pradesh     83.25
1            Bihar     70.68
2     Chhattisgarh     79.06
3            Delhi     84.45
4          Gujarat     85.53
5        Karnataka     87.67
6           Kerala     93.57
7      Maharashtra     89.91
8           Orissa     71.09
9           Punjab     82.20
10       Rajasthan     75.51
11      Tamil Nadu     90.18
12   Uttar Pradesh     79.65
13     West Bengal     87.02

In [88]:
highest_literacy_state = max_literacy_by_state.loc[max_literacy_by_state['Literacy'].idxmax()]

In [90]:
highest_literacy_state

State       Kerala
Literacy     93.57
Name: 6, dtype: object

In [183]:
print(f"State with highest literacy percentage is in {highest_literacy_state['State']} with a literacy of {highest_literacy_state['Literacy']}%")

State with highest literacy percentage is in Kerala with a literacy of 93.56999969482422%

In [103]:
##Que 5 What is the literacy percentage and population of a karnataka?
karnataka_literacy = literacy_df[literacy_df['State'] == 'Karnataka']


karnataka_population = population_df[population_df['states'].str.strip() == 'Karnataka']


karnataka_info = {
    'Literacy Percentage': karnataka_literacy['Literacy'].values[0],
    'Population': karnataka_population['population'].values[0]
}


print(f"Karnataka has a literacy percentage of {karnataka_info['Literacy Percentage']}% and a population of {karnataka_info['Population']}.")

Karnataka has a literacy percentage of 87.66999816894531% and a population of 61095296.0.

In [214]:

karnataka_literacy = literacy_df[literacy_df['State'] == 'Karnataka']

In [216]:
karnataka_literacy

    sr_no   District      State  Literacy
2       3  Bangalore  Karnataka     87.67
24     25    Belgaum  Karnataka     73.48

In [218]:
literacy_percentage = round(karnataka_literacy['Literacy'], 2)

print( literacy_percentage)

2     87.67
24    73.48
Name: Literacy, dtype: float64

In [220]:
aggregate_literacy = (87.67 + 73.48) / 2
print("Aggregate Literacy Rate:", round(aggregate_literacy, 2))

Aggregate Literacy Rate: 80.58

In [222]:
karnataka_population = population_df[population_df['states']== 'Karnataka']

In [224]:
state_population=karnataka_population['population']

In [226]:
state_population

5    61095296.0
Name: population, dtype: float64

In [228]:
print(f'literacy rate of karnataka is {aggregate_literacy} and population is  {state_population}')

literacy rate of karnataka is 80.575 and population is  5    61095296.0
Name: population, dtype: float64